

.mainGame{
    display: flex;
    flex-wrap: wrap;
    background: var(--secondary-color);
    user-select: none;
    -webkit-user-select: none;
}

.topBar{
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--dark-color);
    border: 15px solid var(--primary-color);
    box-sizing: border-box;

}

.topBar h1{
    font-size: 1em;
}

.topBar div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.gameOver{
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    box-sizing: border-box;
    color: white;
    animation: popIn 0.5s forwards;
}

.gameOver h1{
    align-self: end;
}

.gameOver p{
    align-self: start;
}

.gameOver button{
    align-self: start;
    padding: 10px 20px;
    background: var(--dark-color);
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
}

.loose{
    background: rgba(255, 78, 78, 0.55);
    border: 10px solid #ff4e4e;

}

.win{
    background: rgba(68, 206, 68, 0.55);
    border: 10px solid #4eff4e;
}

.cell{
    font-size: 20px;
    font-weight: bolder;
    background: var(--primary-color);
    border: 5px solid;
    box-sizing: border-box;
    border-color: var(--secondary-color) var(--dark-color) var(--dark-color) var(--secondary-color);
    cursor: pointer;
    user-select: none;
    display: grid;
    align-items: center;
    justify-items: center;
}

.revealed{
    cursor: default;
    animation: reveal 0.25s forwards;
}

.preRevealed{
    color: var(--primary-color) !important;
}

.flagged{
    overflow: clip;
}

.flagged svg, .flagged img{
    animation: placeFlag 0.35s forwards;
}

.mine{
    background: #ff4e4e;
    border-color: #f5f3eb;
    color: white;
}

.number{
    cursor: pointer;
}

.one{
    color: blue;
}

.two{
    color: green;
}

.three{
    color: red;
}

.four{
    color: purple;
}

.five{
    color: orange;
}

.six{
    color: pink;
}

.seven{
    color: brown;
}

.eight{
    color: black;
}

/* Shake board */
.shake{
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-10px, 0); }
    20% { transform: translate(10px, 0); }
    30% { transform: translate(-10px, 0); }
    40% { transform: translate(10px, 0); }
    50% { transform: translate(-10px, 0); }
    60% { transform: translate(10px, 0); }
    70% { transform: translate(-10px, 0); }
    80% { transform: translate(10px, 0); }
    90% { transform: translate(-10px, 0); }
    100% { transform: translate(0, 0); }
}


@keyframes reveal {
    0% {

    }
    100% {

        background: var(--primary-color);
        border: 2px solid var(--dark-color);

    }
}

/* Place flag reveal from bottom to top */
@keyframes placeFlag {
    0% {
        position: relative;
        bottom: -25px;

    }
    100% {
        bottom: 0;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }

}
