.titleBar{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.titleBar strong{
    font-weight: 700;
}

.titleBar h1{
    font-size: 4.5em;
}

.titleBar h2{
    font-size: 1.5em;
}

